body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


button {
    background-color: white;
    border-radius: 25%;
}


.active{
    background:#357EBD;
    color:#FFF
}

#stage {
    display: flex;
    justify-content: center;
}

#dice-container {
    width: 40%;
    display: flex;
    justify-content: center;
}

#button-container {
    width: 40%;
    display: flex;
    justify-content: center;
}

.dice {
    display: flex;
    justify-content: center;
}
.button {
    border: solid black;
    border-radius: 25%;
    width: 100px;
    height: 45px;
    text-align: center;
}

.inline-img {
    width: 30px;
    height: 30px;
}


